ТипыОбщие.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<xs:schema version="1.0" xmlns="http://schema.pfr.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.pfr.ru" elementFormDefault="qualified">

	<xs:annotation>
		<xs:documentation xml:lang="ru">XML-подсхема для проверки документов - Типы данных</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ТипИмяФайла">
		<xs:annotation>
			<xs:documentation>Тип для представления имени XML-файла в информационных обменах ПФР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="PFR-700-Y-\d{4}-ORG-\d{3}-\d{3}-\d{6}-DCK-\d{5}-DPT-\d{6}-DCK-\d{5}.XML"/>
			<xs:pattern value="OUT-700-Y-\d{4}-ORG-\d{3}-\d{3}-\d{6}-DCK-\d{5}-DPT-\d{6}-DCK-\d{5}.XML"/>
			<xs:pattern value="OUT-700-Y-\d{4}-ORG-\d{3}-\d{3}-\d{6}-DCK-\d{5}-OUTDPT-\d{3}-\d{3}-OUTNMB-\d{4}-\d{9}.XML"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ТипДата">
		<xs:annotation>
			<xs:documentation>Дата в формате дд.мм.гггг</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(((31\.(0[13578]|1[02]))|((29|30)(\.)(0[1,3-9]|1[0-2])))\.((1[6-9]|[2-9]\d)\d{2}))|(29\.02\.((((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26]))|((16|[2468][048]|[3579][26])00))))|((0[1-9]|1\d|2[0-8])\.((0[1-9])|(1[0-2]))\.((1[6-9]|[2-9]\d)\d{2}))"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипДатаН">
		<xs:annotation>
			<xs:documentation>Дата в формате дд.мм.гггг (или пустое значение)</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\d{2}\.\d{2}\.\d{4}"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипВсеГоды">
		<xs:annotation>
			<xs:documentation>Тип для представления количества лет выработки (стажа)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипВсеМесяцы">
		<xs:annotation>
			<xs:documentation>Тип для представления количества месяцев выработки (стажа)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="12"/>
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипВсеДни">
		<xs:annotation>
			<xs:documentation>Тип для представления количества дней выработки (стажа)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="29"/>
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипНомерКорректировки">
		<xs:annotation>
			<xs:documentation>Тип для представления номера корректировки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип4Н">
		<xs:annotation>
			<xs:documentation>Строка 4 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип5Н">
		<xs:annotation>
			<xs:documentation>Строка 5 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип8Н">
		<xs:annotation>
			<xs:documentation>Строка 8 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип9Н">
		<xs:annotation>
			<xs:documentation>Строка 9 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип10Н">
		<xs:annotation>
			<xs:documentation>Строка 10 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип20Н">
		<xs:annotation>
			<xs:documentation>Строка 20 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип25Н">
		<xs:annotation>
			<xs:documentation>Строка 25 символов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип300Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 300 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип30Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 30 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип40Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 40 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип50Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип100Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип80Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 80 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип120Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 120 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип200Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 200 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип250Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 250 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип256Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 256 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип1000Н">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип100">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипСтраховойНомер">
		<xs:annotation>
			<xs:documentation>Тип для представления страхового номера индивидуального лицевого счета (СНИЛС)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3}-\d{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Тип4">
		<xs:annotation>
			<xs:documentation>Строка с максимальной длиной 4 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипИндекс">
		<xs:annotation>
			<xs:documentation>Тип для представления почтового индекса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\d{5,7}"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипРегНомер">
		<xs:annotation>
			<xs:documentation>Тип для представления регистрационного номера страхователя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{3}-\d{6}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипКПП">
		<xs:annotation>
			<xs:documentation>Тип для представления кода причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипНомер">
		<xs:annotation>
			<xs:documentation>Тип для представления номеров до 20 цифр</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипКодПодразделения">
		<xs:annotation>
			<xs:documentation>Тип для представления кода подразделения ПФР(от 4 до 6 цифр)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ТипДеньги">
		<xs:annotation>
			<xs:documentation>Тип для представления денежных сумм</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:pattern value="\-?[0-9]+\.\d{2}"/>
			<xs:pattern value="\-?[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ТипДеньгиКоп">
		<xs:annotation>
			<xs:documentation>Тип для представления денежных сумм с указанием копеек</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:pattern value="\-?[0-9]+\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипУдостоверяющего">
		<xs:annotation>
			<xs:documentation>Тип документа, удостоверяющего личность</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:enumeration value="ПАСПОРТ РОССИИ"/>
			<xs:enumeration value="ПАСПОРТ"/>
			<xs:enumeration value="ЗГПАСПОРТ РФ"/>
			<xs:enumeration value="СВИД О РОЖД"/>
			<xs:enumeration value="УДОСТ ОФИЦЕРА"/>
			<xs:enumeration value="СПРАВКА ОБ ОСВ"/>
			<xs:enumeration value="ВОЕННЫЙ БИЛЕТ"/>
			<xs:enumeration value="ДИППАСПОРТ РФ"/>
			<xs:enumeration value="СЛУЖ ПАСПОРТ"/>
			<xs:enumeration value="ИНПАСПОРТ"/>
			<xs:enumeration value="СВИД БЕЖЕНЦА"/>
			<xs:enumeration value="ВИД НА ЖИТЕЛЬ"/>
			<xs:enumeration value="УДОСТ БЕЖЕНЦА"/>
			<xs:enumeration value="ВРЕМ УДОСТ"/>
			<xs:enumeration value="ПАСПОРТ МОРЯКА"/>
			<xs:enumeration value="ВОЕН БИЛЕТ ОЗ"/>
			<xs:enumeration value="ПРОЧЕЕ"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипБИК">
		<xs:annotation>
			<xs:documentation>Тип для представления Банковского идентификационного кода (БИК)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипВремя">
		<xs:annotation>
			<xs:documentation>Время ЧЧ:ММ (ЧЧ-часы, ММ-минуты)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-2][0-9]:[0-6][0-9]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло2">
		<xs:annotation>
			<xs:documentation>Число от 0 до 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло3">
		<xs:annotation>
			<xs:documentation>Число до 3х знаков (от 0 до 999)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло4">
		<xs:annotation>
			<xs:documentation>Число от 0 до 9999</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло5">
		<xs:annotation>
			<xs:documentation>Число от 1 до 99999</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:unsignedLong">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло6">
		<xs:annotation>
			<xs:documentation>Число 6 разрядов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="6"/>
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло7">
		<xs:annotation>
			<xs:documentation>Число 7 разрядов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="7"/>
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло8">
		<xs:annotation>
			<xs:documentation>Число 8 разрядов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="8"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло9">
		<xs:annotation>
			<xs:documentation>Число 9 разрядов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧисло10">
		<xs:annotation>
			<xs:documentation>Число 10 разрядов</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипНомерПачки">
		<xs:annotation>
			<xs:documentation>Порядковый номер пачки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="99999"/>
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипИНН">
		<xs:annotation>
			<xs:documentation>Тип для представления идентификационного номера налогоплательщика (ИНН)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"/>
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипНаименованиеОрганизации">
		<xs:annotation>
			<xs:documentation>Тип для представления наименования организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипНаименованиеОрганизацииКраткое">
		<xs:annotation>
			<xs:documentation>Тип для представления краткого наименования организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">			
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипЧислоЗЛ">
		<xs:annotation>
			<xs:documentation>Тип для представления количества застрахованных лиц</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипКоличество">
		<xs:annotation>
			<xs:documentation>Тип для представления количественных показателей (до 3 знаков)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипКоличество4">
		<xs:annotation>
			<xs:documentation>Тип для представления количественных показателей (до 4 знаков)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипМесяц">
		<xs:annotation>
			<xs:documentation>Тип для представления месяца в году: от 1 (январь) до 12 (декабрь)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипДес1">
		<xs:annotation>
			<xs:documentation>Тип для представления числа от 0 до 1 с сотыми долями</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="3"/>
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="1.00"/>
			<xs:pattern value="\d{1}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипДес2">
		<xs:annotation>
			<xs:documentation>Тип для представления числа от 0 до 2 с сотыми долями</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="2.00"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="3"/>
			<xs:pattern value="\d{1}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипГод">
		<xs:annotation>
			<xs:documentation>Тип для представления года (от 1900 до 2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1900"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипКодСтроки">
		<xs:annotation>
			<xs:documentation>Тип для представления кода строки в таблице</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипИсточникДанных">
		<xs:annotation>
			<xs:documentation>Классификатор возможных источников данных - составителей файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="СТРАХОВАТЕЛЬ"/>
			<xs:enumeration value="ТРАНСФЕР-АГЕНТ"/>
			<xs:enumeration value="ОПФР-ЛИЧНО"/>
			<xs:enumeration value="ОПФР-ПРОЧЕЕ"/>
			<xs:enumeration value="НПФ"/>
			<xs:enumeration value="ПФР"/>
			<xs:enumeration value="ОРГАН_ЗАГС"/>
			<xs:enumeration value="ПОРТАЛ ГОСУСЛУГ"/>
			<xs:enumeration value="АГЕНТ ПОРТАЛА ПФР"/>
			<xs:enumeration value="МФЦ"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ТипПрограммаПодготовкиДанных">
		<xs:annotation>
			<xs:documentation>Тип для представления основных сведений о программном средстве, используемом для подготовки файла с данными</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НазваниеПрограммы" type="Тип40Н">
				<xs:annotation>
					<xs:documentation>Названия программного средства используемого для подготовки файла с данными</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Версия" type="Тип10Н">
				<xs:annotation>
					<xs:documentation>Версия программного средства используемого для подготовки файла с данными</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипПодтверждающийДокумент">
		<xs:sequence>
			<xs:element name="Наименование">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СерияРимскиеЦифры" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СерияРусскиеБуквы" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Номер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99999999"/>
						<xs:totalDigits value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаВыдачи" type="ТипДата">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КемВыдан">
				<xs:annotation>
					<xs:documentation>Кем выдан  документ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="80"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="СрокДействия" type="ТипДата" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия документа, подтверждающего полномочия представителя застрахованного лица (если предусмотрен)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ТипСпособПодачи">
		<xs:annotation>
			<xs:documentation>Тип Способ подачи заявления в ПФР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ЛИЧНО">
				<xs:annotation>
					<xs:documentation>Лично в управление ПФР</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="НПФ">
				<xs:annotation>
					<xs:documentation>Через негосударственный пенсионный фонд</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="МФЦ">
				<xs:annotation>
					<xs:documentation>Через многофункциональный центр</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ПОЧТА">
				<xs:annotation>
					<xs:documentation>По почте</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="КУРЬЕР">
				<xs:annotation>
					<xs:documentation>С курьером</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ЕПГУ">
				<xs:annotation>
					<xs:documentation>Через единый портал государственных услуг</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ЛК">
				<xs:annotation>
					<xs:documentation>Через личный кабинет застрахованного лица</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ТипОрганизация">
		<xs:annotation>
			<xs:documentation>Тип для представления основных сведений об организации</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="НалоговыйНомер" type="ТипНН" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налоговый номер организации</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="КодЕГРИП" minOccurs="0" type="ТипКодЕГРИП">
				<xs:annotation>
					<xs:documentation>Код в едином государственном реестре индивидуальных предпринимателей</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="КодЕГРЮЛ" minOccurs="0" type="ТипКодЕГРЮЛ">
				<xs:annotation>
					<xs:documentation>Код в едином государственном реестре юридических лиц</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Форма" type="Тип40Н" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Форма управления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаименованиеОрганизации" type="ТипНаименованиеОрганизации" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации (полное)</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="НаименованиеКраткое" minOccurs="0" type="ТипНаименованиеОрганизацииКраткое">
				<xs:annotation>
					<xs:documentation>Наименование организации (краткое)</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="РегистрационныйНомер" type="ТипРегНомер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер организации</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="Подразделение" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о подразделении организации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="НаименованиеПодразделения" type="Тип100Н" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Наименование подразделения организации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="НомерПодразделения" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Номер подразделения организации</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:normalizedString">
									<xs:minLength value="1"/>
									<xs:maxLength value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="НомерЛицензии" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер лицензии на право осуществления деятельности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаВыдачиЛицензии" type="ТипДата" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи лицензии на право осуществления деятельности</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипНомерПачкиВнешний">
		<xs:annotation>
			<xs:documentation>Внешний номер пачки</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:annotation>
				<xs:documentation>Указывается либо основной номер пачки, либо номер по подразделению</xs:documentation>
			</xs:annotation>
			<xs:element name="Основной" type="ТипНомерПачки">
				<xs:annotation>
					<xs:documentation>Основной номер пачки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПоПодразделению" type="ТипНомерПачки">
				<xs:annotation>
					<xs:documentation>Номер пачки по подразделению</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ТипНН">
		<xs:annotation>
			<xs:documentation>Налоговый номер</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ИНН" type="ТипИНН">
				<xs:annotation>
					<xs:documentation>Индивидуальный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КПП" type="ТипКПП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код причины постановки на учет</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ТипГеография">
		<xs:annotation>
			<xs:documentation>Географическое название с сокращением</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГеографическоеНазвание" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Географическое название</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Тип40Н">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Сокращение" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Сокращение</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Тип30Н">
						<xs:maxLength value="30"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипНумерация">
		<xs:annotation>
			<xs:documentation>Тип для представления нумерованных объектов адресе (дом, корпус и т.д.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Сокращение" type="Тип30Н" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сокращение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Номер" type="ТипНомер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипДокумент">
		<xs:annotation>
			<xs:documentation>Тип для представления основных сведений о документе: наименование, серия, номер, кем и когда выдан</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НаименованиеУдостоверяющего">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СерияРимскиеЦифры" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Часть серии докуммента, состоящая из римских цифр</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СерияРусскиеБуквы" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Часть серии докуммента, состоящая из русских букв</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НомерУдостоверяющего" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99999999"/>
						<xs:totalDigits value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаВыдачи" type="ТипДата">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КемВыдан">
				<xs:annotation>
					<xs:documentation>Кем выдан  документ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="80"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипСведенияОбУведомлении">
		<xs:sequence>
			<xs:element name="НомерУведомления">
				<xs:annotation>
					<xs:documentation>Номер уведомления</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаУведомления" type="ТипДата">
				<xs:annotation>
					<xs:documentation>Дата уведомления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаНачалаПериода" type="ТипДатаН" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаКонцаПериода" type="ТипДатаН" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата конца периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаРегистрацииДокумента" type="ТипДата">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаОтправки" type="ТипДатаН" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата отправки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипСистемныйНомерИсходящий">
		<xs:sequence>
			<xs:element name="КодПодразделения" type="ТипКодПодразделения"/>
			<xs:element name="ИсходящийНомер">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="1"/>
						<xs:totalDigits value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипДатаОсобая">
		<xs:annotation>
			<xs:documentation>Представление даты, которая не может быть записана в виде правильной даты дд.мм.гггг</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="День" minOccurs="0">
				<xs:annotation>
					<xs:documentation>День</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Месяц" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Год" type="xs:gYear">
				<xs:annotation>
					<xs:documentation>Год</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипФИО">
		<xs:annotation>
			<xs:documentation>Тип данных: ФИО физического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Фамилия" minOccurs="0">
			<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Имя" minOccurs="0"><xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Отчество" minOccurs="0"><xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипНаличиеДокументов">
		<xs:sequence>
			<xs:element name="Количество" type="ТипКоличество">
				<xs:annotation>
					<xs:documentation>Количество документов в наличии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаличиеДокументов" type="ТипНаличиеДокументов">
				<xs:annotation>
					<xs:documentation>Сведения о наличии документов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипАдресОбщий">
		<xs:annotation>
			<xs:documentation>Тип для представления российского или иностранного адреса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипАдреса">
				<xs:annotation>
					<xs:documentation>Тип адреса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="РОССИЙСКИЙ"/>
						<xs:enumeration value="НЕСТРУКТУРИРОВАННЫЙ"/>
						<xs:enumeration value="ИНОСТРАННЫЙ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Индекс" type="ТипИндекс" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Указывается либо российский адрес, либо иностранный</xs:documentation>
				</xs:annotation>
				<xs:element name="РоссийскийАдрес" type="ТипРоссийскийАдрес">
					<xs:annotation>
						<xs:documentation>Российский адрес</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ИностранныйАдрес">
					<xs:annotation>
						<xs:documentation>Иностранный адрес</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="КодСтраны" type="ТипЧисло3">
								<xs:annotation>
									<xs:documentation>Код страны согласно Общероссийскому классификатору стран мира</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="НазваниеСтраны" type="Тип100" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Название страны</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Адрес" type="Тип200Н">
								<xs:annotation>
									<xs:documentation>АдресРегистрации</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="НеструктурированныйАдрес">
					<xs:annotation>
						<xs:documentation>Неструктурированный адрес</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Адрес" type="Тип200Н">
								<xs:annotation>
									<xs:documentation>Адрес</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:group name="ГруппаДатаРождения">
		<xs:annotation>
			<xs:documentation>Группа элементов, которыми может быть представлена дата рождения</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:annotation>
				<xs:documentation>Дата рождения может быть представлена либо датой стандартной, либо датой особой</xs:documentation>
			</xs:annotation>
			<xs:element name="ДатаРождения" type="ТипДата">
				<xs:annotation>
					<xs:documentation>Дата рождения стандартная</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаРожденияОсобая" type="ТипДатаОсобая">
				<xs:annotation>
					<xs:documentation>Дата рождения особая</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:complexType name="ТипРоссийскийАдрес">
		<xs:annotation>
			<xs:documentation>Российский адрес</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="СостояниеАдреса" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Состояние адреса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="ПРАВИЛЬНЫЙ"/>
						<xs:enumeration value="ОШИБОЧНЫЙ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Регион" type="ТипГеография" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регион</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Район" type="ТипГеография" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Город" type="ТипГеография" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаселенныйПункт" type="ТипГеография" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Улица" type="ТипГеография" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Дом" type="ТипНумерация" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Корпус" type="ТипНумерация" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Квартира" type="ТипНумерация" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Квартира</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ТипКодЕГРЮЛ">
		<xs:annotation>
			<xs:documentation>Код ОГРН в Едином государственном реестре юридических лиц, присваивается ФНС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="13"/>
			<xs:pattern value="\d{13}"/>
			<xs:pattern value="0"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипКодЕГРИП">
		<xs:annotation>
			<xs:documentation>Код ОГРН в Едином государственном реестре индивидуальных предпринимателей, присваивается ФНС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="15"/>
			<xs:pattern value="\d{15}"/>
			<xs:pattern value="0"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ТипПодразделение">
		<xs:annotation>
			<xs:documentation>Тип, отражающий сведения о подразделении организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НаименованиеПодразделения" type="xs:normalizedString">
				<xs:annotation>
					<xs:documentation>Наименование подразделения организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомерПодразделения">
				<xs:annotation>
					<xs:documentation>Номер подразделения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ТипКрИмяОрг">
		<xs:annotation>
			<xs:documentation>Тип, используемый для представления краткого наименования организации - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипИмяОрг">
		<xs:annotation>
			<xs:documentation>Тип, используемый для представления полного наименования организации - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ТипДоговор">
		<xs:sequence>
			<xs:element name="Номер" type="ТипНомер" minOccurs="0"/>
			<xs:element name="ДатаЗаключения" type="ТипДата"/>
			<xs:element name="КодВидаВыплаты">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="6"/>
						<xs:enumeration value="АВАНС"/>
						<xs:enumeration value="ПРОЧЕЕ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НазваниеВидаВыплаты" minOccurs="0" type="Тип20Н"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ТипСистемныйНомер">
		<xs:annotation>
			<xs:documentation>Системный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КодПодразделения" type="ТипКодПодразделения">
				<xs:annotation>
					<xs:documentation>Код подразделения ПФР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ВходящийНомер">
				<xs:annotation>
					<xs:documentation>Входящий номер документа (одиннадцатизначный)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{11}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НомерВпачке" type="ТипЧисло3">
				<xs:annotation>
					<xs:documentation>Номер документа в пачке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Экземпляр" type="ТипЧисло2">
				<xs:annotation>
					<xs:documentation>Номер экземпляра</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ТипУдостоверяющийДокумент">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипУдостоверяющего" type="ТипУдостоверяющего">
				<xs:annotation>
					<xs:documentation>Тип удостоверяющего документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Документ" type="ТипДокумент">
				<xs:annotation>
					<xs:documentation>Сведения об удостоверяющем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ТипПол">
		<xs:annotation>
			<xs:documentation>Пол. Возможные значения: М, Ж, МУЖСКОЙ, ЖЕНСКИЙ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ТипПолН">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ТипПолМЖ">
		<xs:annotation>
			<xs:documentation>Пол, мужской или женский</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ТипПол">
			<xs:enumeration value="М"/>
			<xs:enumeration value="Ж"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ТипПолН">
		<xs:annotation>
			<xs:documentation>Пол</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="МУЖСКОЙ"/>
			<xs:enumeration value="ЖЕНСКИЙ"/>
			<xs:enumeration value="М"/>
			<xs:enumeration value="Ж"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипТипАдреса">
		<xs:restriction base="xs:string">
			<xs:enumeration value="РОССИЙСКИЙ"/>
			<xs:enumeration value="НЕСТРУКТУРИРОВАННЫЙ"/>
			<xs:enumeration value="ИНОСТРАННЫЙ"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипТипРодства">
		<xs:annotation>
			<xs:documentation>Тип родства заявителя по отношению к ребенку</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="РОЖДЕНИЕ"/>
			<xs:enumeration value="УСЫНОВЛЕНИЕ"/>
			<xs:enumeration value="РОЖДЕНИЕМ"/>
			<xs:enumeration value="УСЫНОВЛЕНИЕМ"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ТипУдостоверитель">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:enumeration value="НОТАРИУС"/>
			<xs:enumeration value="КОНСУЛ"/>
			<xs:enumeration value="ГОСПИТАЛЬ"/>
			<xs:enumeration value="ВОЕННАЯ ЧАСТЬ"/>
			<xs:enumeration value="УИН"/>
			<xs:enumeration value="УСЗН"/>
			<xs:enumeration value="ФОНД"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ТипРеквизитыСертификата">
		<xs:sequence>
			<xs:element name="СерияСертификата">
				<xs:annotation>
					<xs:documentation>Серия сертификата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НомерСертификата">
				<xs:annotation>
					<xs:documentation>Номер сертификата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="1"/>
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаВыдачиСертификата" type="ТипДата">
				<xs:annotation>
					<xs:documentation>Дата выдачи сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="ТипМестоРождения">
		<xs:annotation>
			<xs:documentation>Место рождения (тип, город, район, регион, страна)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипМестаРождения" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип места рождения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ОСОБОЕ"/>
						<xs:enumeration value="СТАНДАРТНОЕ"/>
						<xs:enumeration value="СТНД"/>
						<xs:enumeration value="ОСОБ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ГородРождения" type="Тип40Н" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="РайонРождения" type="Тип40Н" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="РегионРождения" type="Тип40Н" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регион рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СтранаРождения" type="Тип40Н" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страна рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>